*{
  margin:0;
  padding:0;
}

header{
  border-bottom: 5px solid #E91E63;
  height: 10vh;
  display:flex;
}

#logo{
  width: 25vw;
  height: 10vh;
}

#logo img{
  height: 8vh;
}
#display{
  width: 50vw;
}

#user{
  width: 20vw;
}

main{
  padding: 2vh;
  min-height: 80vh;
  background-color: rgb(255, 240, 221);
}

.card{
  background-color: #3da1ff;
}

#notes{
  display: flex;
  flex-wrap: wrap;/*quebrar linha*/
  justify-content: space-around;
}

.card-body {
  border: 2px solid #E91E63;
  border-radius: 0.5rem;
  padding: 10rem;
}

.card a{
  text-decoration: none;
}

.card a:hover {
  color: #3da1ff;
}

#modal-view{
  border: 2px solid #E91E63;
  position: absolute;
  display:none;
  width: 90vw;
  padding:10px;
  border-radius: 0.5rem;
}

#close-modal{
  float:right;
}

#modal{
  border: 5px solid #E91E63;
  position: absolute;
  padding:2vh 2vw;
  display:none;
  width: 90vw;
}

#controls-note{
  display:flex;
  gap:10px;
}

button {
  border-color: #3da1ff;
  color: #E91E63;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #E91E63;
  color: white;
}

footer {
  height: 3rem;
  background-color: #E91E63;
}

h5{
  color: white;
  text-align: center;
  font-size: 0.2rem;
}

h3{
  text-align: center;
}